*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
	text-align: center;
}

.top{
	width: 100%;
	height: 62px;
	border-bottom-left-radius: 1px solid #e0e0e0\9;
	-webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.18);
	box-shadow: 0px 3px 4px rgba(0,0,0,0.18);
	background-color: #24292e;
}
.top-mid{
	width: 1500px;
	margin: 0 auto;
}
img{
	float: right;
	margin-right: 20px;
	width: 80px;
	height: 62px;
}
.courseName{
	display: block;
	float: left;
	height: 62px;
	line-height: 62px;
	color: #F7F7F7;
	font-size: 18px;
}
.top .myIcon{
	display: block;
	float: left;
	width: 20px;
	height: 62px;
	line-height: 68px;
	font-size: 24px;
	margin: 0 20px;
}
.courseName:hover{
	color: #1277EB;
	cursor: pointer;
}
.container-fluid{
	height: 900px;
}
.col-sm-4{
	height: 40px;
	line-height: 40px;
}
.obanner{
	display: none;
	width: 300px;
	height: 900px;
	background-color:lavenderblush;
}
.active{
	display: block;
}
.row{
	border: 1px solid lavender;
}
.cont{
	position: relative;
	top: 35px;
	left: 50%;
	margin-left: -400px;
	width: 800px;
	height: 700px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
}
.control-label{
	position: relative;
	left: -355px;
}
