*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
body{
	width: 100%;
	height: 100%;
}
.nav{
	width: 100%;
	height: 62px;
	border-bottom-left-radius: 1px solid #e0e0e0\9;
	-webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.18);
	box-shadow: 0px 3px 4px rgba(0,0,0,0.18);
	background-color: #24292e;
}
.nav-top{
	width: 1300px;
	height: 62px;
	margin: 0 auto;
}
/*logo*/
img{
	float: left;
	width: 80px;
	height: 62px;
}
/*菜单栏*/
.nav-top-left{
	float: left;
	width: 700px;
	height: 60px;
}
.nav-top-left ul li a{
	height: 60px;
	width: 80px;
	float: left;
	margin: 0 5px;
	color: #FFFFFF;
	text-align: center;
	line-height: 62px;
}
.nav-top-left ul span{
	float: left;
	margin: 0 2px;
	color: #FFFFFF;
	text-align: center;
	line-height: 60px;
}
.nav-top-left a:hover{
	color: #CBBA9B;
}
#formlist{
	float: left;
}
#formlist #que{
	width: 250px;
	height: 32px;
	margin-top: 20px;
	margin-left: -70px;
	padding-left: 5px;
	border: none;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	outline: none;
	color: #FFFFFF;
}
#formlist #fir{
	position: relative;
	top: 1px;
	height: 32px;
	width: 50px;
	border: 0px;
	outline: none;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background-color: gray;
	color: #FFFFFF
}

/*登录注册框*/
.nav-top-right{
	float: right;
	width: 250px;
	height: 60px;
}
.nav-top-right .nav-unLogin span{
	display: block;
	float: right;
	width: 65px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	border-radius: 2px;
}
.nav-top-right .nav-unLogin .login{
	border: 1px solid  #fff;
	margin: 15px 10px;
	cursor: pointer;
}
.nav-top-right .nav-unLogin .login:hover{
	color: #357AE8;
	border: 1px solid #357AE8;
}
.nav-top-right .nav-unLogin .register span{
	margin: 15px 40px 15px 10px;
	padding: 1px 1px;
	background-color: #357AE8;
}
.nav-top-right .nav-unLogin .register span:hover{
	background-color: #4D90FD;
}
.dis{
	display: none;
}
.nav-login #us{
	float: right;
	width: 46px;
	height: 46px;
	margin-top: 7px;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid red;
}
.tip{
	float: right;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-top: 10px;
	color: #FFFFFF;
	border: 1px solid red;
}
.useName{
	float: right;
	width: 50px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #FFFFFF;
	overflow: hidden;
	border: 1px solid red;
}


/*container部分*/

.pageBottom{
	position: relative;
	width: 100%;
	height: 180px;
	background-color: #333;
}
.pageBottom .pageBottom-mid{
	position: absolute;
	left: 50%;
	height: 180px;
	margin-left: -600px;
	width: 1200px;
}
.pageBottom .pageBottom-mid img{
	display: block;
	position: absolute;
	top: 30px;
	left: 100px;
}
.pageBottom .pageBottom-mid #logoFoot{
	display: block;
	position: absolute;
	top: 90px;
	left: 112px;
	color: #FFFFFF;
}
.pageBottom .pageBottom-mid ul>li>a{
	color: #A9A9A9;
	text-decoration: none;
}
.pageBottom .pageBottom-mid ul>li>a:hover{
	color: #F7F7F7;
}
.pageBottom .pageBottom-mid ul li{
	position: relative;
	top: 120px;
	left: 830px;
	display: block;
	width: 100px;
	height: 30px;
	float: left;
	font-size: 14px;
}
.pageBottom .pageBottom-mid .Form{
	position: absolute;
	top: 140px;
	left: 105px;
	width: 315px;
	height: 34px;
	font-size: 12px;
	color: #A9A9A9;
}
.pageBottom .pageBottom-mid .Form p{
	display: block;
	height: 12px;
	width: 350px;
}
a{
	text-decoration: none;
	color: #fff;
}

.container{
	width: 100%;
	height: 1000px;
	background-color: #F3F3F3;
}
.scetion{
	position: absolute;
	top: 250px;
	left: 50%;
	margin-left: -275px;
	width: 550px;
	height: 300px;
	background-color: #fff;
	border-radius: 5px;
}
.title{
	display: block;
	font-size: 18px;
	margin: 25px 25px;
}
#Input{
	width: 415px;
	height: 45px;
	outline: none;
	margin-top: 35px;
	margin-left: 60px;
	border: none;
	padding-left: 5px;
	border-radius: 3px;
	border: 1px solid #A9A9A9;
}
#tips{
	display: block;
	width: 415px;
	height: 20px;
	line-height: 20px;
	color:red;
	margin-top: 0px;
	margin-left: 65px;	
}
#Submit{
	width: 420px;
	height: 45px;
	margin-top: 25px;
	margin-left: 60px;
	outline: none;
	border: none;
	color: #FFF0F5;
	border-radius: 3px;
	background-color: #1277EB;
}
#Submit:hover{
	background-color: #0366D6;
	font-size: 17px;
}
